/*google content width
center-abs-margin calc(25vw + -188.75px)
center-width 652
rhs-margin 76px
rhs-width 372px
lhs-refinements-width 0
max-width: calc(var(--center-abs-margin) + var(--center-width) + var(--rhs-margin) + var(--rhs-width) + var(--lhs-refinements-width));*/

.SSwrapperContent {
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 100000000000000000 !IMPORTANT;
}

.SSwrapperContainer {
    display: flex;
    justify-content: center;
}

.SScontainer {
    /* TODO: remove */
    border: 1px solid rgba(255, 0, 0, .2);
    width: 80%;
    min-width: 400px;
    max-width: 1450px;
}

.SSbrandLogo {}

.displayNone {
    display: none !Important;
}

.imgLogoEngine {
    height: 24px;
    width: 24px;
    margin-left: 2px;
    border-radius: 24px;
    position: relative;
    bottom: 1px;
}

.imgLogoEngine_listItem {
    height: 20px;
    width: 20px;
    bottom: 2px;
    margin-right: 10px;
}

.imgLogoEngine_disabled {
    opacity: 0.4;
}