/*google content width
center-abs-margin calc(25vw + -188.75px)
center-width 652
rhs-margin 76px
rhs-width 372px
lhs-refinements-width 0
max-width: calc(var(--center-abs-margin) + var(--center-width) + var(--rhs-margin) + var(--rhs-width) + var(--lhs-refinements-width));*/

.SSwrapperContent {
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 100000000000000000 !IMPORTANT;
}

.SSwrapperContainer {
    display: flex;
    justify-content: center;
}

.SScontainer {
    /* TODO: remove */
    border: 1px solid rgba(255, 0, 0, .3);
    width: 90%;
    min-width: 400px;
    max-width: 1450px;
}

.SSbrandLogo {}